<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Homedt ANY>
<!ATTLIST Homedt id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Onlycontent ANY>
<!ATTLIST Onlycontent id ID #REQUIRED>

]>
<root id="-1">
  <Onlycontent id="1068" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-07-30T00:01:40" updateDate="2014-08-04T13:00:00" nodeName="Home" urlName="home" path="-1,1068" isDoc="" nodeType="1130" creatorName="admin" writerName="admin" writerID="0" template="1155" nodeTypeAlias="Onlycontent">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Txt: A responsive starter kit for Umbraco]]></title>
    <Homedt id="1162" parentID="1068" level="2" creatorID="0" sortOrder="4" createDate="2014-08-04T14:41:35" updateDate="2014-08-08T09:53:37" nodeName="Home" urlName="home" path="-1,1068,1162" isDoc="" nodeType="1153" creatorName="admin" writerName="admin" writerID="0" template="1152" nodeTypeAlias="Homedt">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pagetitle><![CDATA[AnimalRental]]></pagetitle>
      <homebottomleftmessagetitle><![CDATA[Become an animal renter]]></homebottomleftmessagetitle>
      <homebottomleftmessagecontent><![CDATA[<p style="text-align: center;"><span>Test. An </span>indefinite<span> article indicates that its noun is not a particular one (or ones) identifiable to the listener. It may be something that the speaker is mentioning for the first time, or its precise identity may be irrelevant or hypothetical, or the speaker may be making a general statement about any such thing. English uses </span>a/an<span>, from the Old English forms of the number 'one', as its primary indefinite article.</span></p>]]></homebottomleftmessagecontent>
      <homebottomrightmessagetitle><![CDATA[Become an animal rentee]]></homebottomrightmessagetitle>
      <homebottomrightmessagecontent><![CDATA[<p style="text-align: center;"><span>Some<span> also serves as a singular indefinite article, as in "There is </span>some<span> person on the porch". This usage differs from the usage of </span>a(n)<span> in that </span>some<span> indicates that the identity of the noun is unknown to both the listener and the speaker, while </span>a(n)<span> indicates that the identity is unknown to the listener without specifying whether or not it is known to the speaker.</span></span></p>]]></homebottomrightmessagecontent>
    </Homedt>
    <Onlycontent id="1175" parentID="1068" level="2" creatorID="0" sortOrder="5" createDate="2014-08-07T17:14:14" updateDate="2014-08-07T18:25:55" nodeName="Edit" urlName="edit" path="-1,1068,1175" isDoc="" nodeType="1130" creatorName="admin" writerName="admin" writerID="0" template="1174" nodeTypeAlias="Onlycontent">
      <umbracoNaviHide>1</umbracoNaviHide>
    </Onlycontent>
    <Onlycontent id="1163" parentID="1068" level="2" creatorID="0" sortOrder="5" createDate="2014-08-04T14:45:02" updateDate="2014-08-07T23:05:52" nodeName="Animals" urlName="animals" path="-1,1068,1163" isDoc="" nodeType="1130" creatorName="admin" writerName="admin" writerID="0" template="1149" nodeTypeAlias="Onlycontent">
      <umbracoNaviHide>0</umbracoNaviHide>
    </Onlycontent>
    <Onlycontent id="1165" parentID="1068" level="2" creatorID="0" sortOrder="6" createDate="2014-08-04T17:38:21" updateDate="2014-08-04T17:39:04" nodeName="Details" urlName="details" path="-1,1068,1165" isDoc="" nodeType="1130" creatorName="admin" writerName="admin" writerID="0" template="1164" nodeTypeAlias="Onlycontent">
      <umbracoNaviHide>1</umbracoNaviHide>
    </Onlycontent>
    <Onlycontent id="1167" parentID="1068" level="2" creatorID="0" sortOrder="7" createDate="2014-08-06T14:23:13" updateDate="2014-08-06T14:24:17" nodeName="Publish" urlName="publish" path="-1,1068,1167" isDoc="" nodeType="1130" creatorName="admin" writerName="admin" writerID="0" template="1166" nodeTypeAlias="Onlycontent">
      <umbracoNaviHide>0</umbracoNaviHide>
    </Onlycontent>
    <Onlycontent id="1169" parentID="1068" level="2" creatorID="0" sortOrder="8" createDate="2014-08-07T10:56:38" updateDate="2014-08-07T13:44:28" nodeName="User" urlName="user" path="-1,1068,1169" isDoc="" nodeType="1130" creatorName="admin" writerName="admin" writerID="0" template="1168" nodeTypeAlias="Onlycontent">
      <umbracoNaviHide>1</umbracoNaviHide>
      <Onlycontent id="1170" parentID="1169" level="3" creatorID="0" sortOrder="0" createDate="2014-08-07T10:57:54" updateDate="2014-08-07T10:58:51" nodeName="Login" urlName="login" path="-1,1068,1169,1170" isDoc="" nodeType="1130" creatorName="admin" writerName="admin" writerID="0" template="1168" nodeTypeAlias="Onlycontent">
        <umbracoNaviHide>0</umbracoNaviHide>
        <content><![CDATA[<?UMBRACO_MACRO macroAlias="Login" />]]></content>
      </Onlycontent>
      <Onlycontent id="1171" parentID="1169" level="3" creatorID="0" sortOrder="1" createDate="2014-08-07T12:12:56" updateDate="2014-08-07T12:15:08" nodeName="Register" urlName="register" path="-1,1068,1169,1171" isDoc="" nodeType="1130" creatorName="admin" writerName="admin" writerID="0" template="1168" nodeTypeAlias="Onlycontent">
        <umbracoNaviHide>0</umbracoNaviHide>
        <content><![CDATA[<?UMBRACO_MACRO macroAlias="Register" />]]></content>
      </Onlycontent>
    </Onlycontent>
  </Onlycontent>
</root>